html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }
body {
  line-height: 1;
  font-family: sans-serif;}
  body {background-color: #2af6fa;
  text-align: center;}
ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  margin: 0; }

img.alignright {
  float: right; }

img.alignleft {
  float: left; }

img.aligncenter {
  clear: both;
  display: block;
  margin-right: auto;
  margin-left: auto; }

body {
  border-style: none; }

body,
p,
a,


a,
a:hover {
  border: none;
  border-style: none;
  box-shadow: none; }

@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

html {
  background-color: #DACEC5; }

body.page-template-page-fullsingle-me {
  background-color: #DACEC5;
  font-family: 'mcreg', sans-serif;
  font-weight: 500;
  font-size: 45px;
  line-height: 60px;
  letter-spacing: -0.5px;
  color: #007700;
  background-image: url("../../images/background.jpg");
  background-position: center center;
  background-size: cover; }
  body.page-template-page-fullsingle-me p {
    margin-top:3rem;
    margin-bottom: 28px;
    color: #000000; 
    font-size: 40px;
    line-height: 45px;
	text-shadow: -2px 0 #e0e0e0, 0 2px #e0e0e0,
      2px 0 #e0e0e0, 0 -2px #e0e0e0;
}


    @media (max-width: 800px) {
      body.page-template-page-fullsingle-me p {
        font-size: 28px;
        line-height: 35px; } }

#troet {
	text-shadow: -2px 0 #e0e0e0, 0 2px #e0e0e0,
      2px 0 #e0e0e0, 0 -2px #e0e0e0;
}

#overnight {
	display:none;
}

#retour {
	display:inline;
	text-shadow: -2px 0 #e0e0e0, 0 2px #e0e0e0,
      2px 0 #e0e0e0, 0 -2px #e0e0e0;
}
		
.fs-me {
  padding: 10vh 10vw;
  z-index: 1000; }
  @media (max-width: 500px) {
    .fs-me {
      padding: 5vh 5vw;
      text-align: center; } }
  .fs-me .me-content {
    height: 80vh;
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    @media (max-width: 500px) {
      .fs-me .me-content {
        height: 90vh; } }

.bio {
-webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: fadein 4s;
          animation: fadein 4s;
  letter-spacing: -1px;
   }
  @media (max-width: 800px) {
    .bio {
      max-width: none; } }
  .bio a {
    color: #1A1AAD;
    transition: 1s; }
    .bio a:hover {
      color: #1A1AAD;
      transition: 0.1s; }
